/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-field-line {
    -fx-background-color: #ffffffb3;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 1 0; /* Establece el ancho del borde solo en la parte inferior */
    -fx-border-color: black;
}

.text-field-line .text {
    -fx-font-family: "Lohit Gujarati";
    -fx-font-size: 28;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.transparent-button .text {
    -fx-font-family: "Lohit Gujarati";
    -fx-font-size: 19;
}

.transparent-button:hover {
    -fx-background-color: lightgray; /* Cambia el color de fondo al pasar el mouse por encima */
}

.button-login {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 23px;
    -fx-text-fill: #39d0f1;
}

.button-login .text {
    -fx-font-family: "Lohit Gujarati";
    -fx-font-size: 23;
}

.button-login:hover {
    -fx-background-color: #39d0f1; /* Cambia el color de fondo al pasar el mouse por encima */
    -fx-text-fill: #FFFFFF; /* Cambia el color del texto al pasar el mouse por encima */
}

.custom-button {
    -fx-background-radius: 50%;
    -fx-background-color: #39d0f1;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 0);
    -fx-transition: background-color 0.3s;
}

.custom-button:hover {
    -fx-background-color: #1f7c8a;
}

.custom-button:pressed {
    -fx-background-color: #0d3c44;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 4);
    -fx-transition: none;
}
